spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cookinglog?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: # MySQL 비밀번호 입력
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  
  security:
    user:
      name: admin
      password: admin

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG