.container {
  width: 100%;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로그인하기 */
.title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

/* 가입한 아이디로 로그인하세요 */
.subtitle {
  font-size: 15px;
  font-weight: 700;
  color: #666;
  margin-bottom: 20px;
}

/* 회색 구분선 */
.divider {
  width: 380px;
  height: 1px;
  background-color: #cbcbcb;
  margin-bottom: 30px;
}

.formBox {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 입력창 전체 */
.inputWrapper {
  width: 100%;
  height: 54px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 14px;
}

/* 아이콘 */
.icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

/* input 스타일 */
.input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.input::placeholder {
  color: #b0b6bd;
  font-size: 14px;
  font-weight: 500;
}

.input:focus {
  outline: none;
}

/* 로그인 버튼 */
.loginButton {
  width: 100%;
  height: 54px;
  background-color: #f36e5c;
  color: #fff;

  font-size: 20px;
  font-weight: 500;

  border: none;
  border-radius: 9px;

  margin-top: 10px;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.9;
}

/* 아래 회원가입 라인 */
.signupWrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 16px;
}

.noAccount {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

/* 회원가입 링크 */
.signupLink {
  font-size: 15px;
  font-weight: 700;
  color: #f36e5c;
  cursor: pointer;
  text-decoration: none;
}

.signupLink:hover {
  text-decoration: underline;
}
