.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 탭 버튼 영역 */
.tabs {
  display: flex;
  gap: 12px;
}

.tabs button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

.tabs button:hover {
  background: #FF6060;
}

/* 활성화된 탭 */
.active {
  color: #fff;
  background: #F36E5C;
}

.content {
  margin-top: 10px;
}
