.footer {
  width: 100%;
  background: #f5f5f5;
  padding: 60px 0;
  border-top: 1px solid #e2e2e2;
  margin-top: 0px;
  color: #444;
  font-size: 15px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* Left Section */
.left {
  flex: 1.2;
}

.brand {
  font-size: 17px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #777;
}

.desc {
  line-height: 1.7;
  color: #666;
  font-size: 14px;
}

/* Right Section */
.right {
  flex: 1;
  text-align: right;
}

.teamTitle {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
}

.teamList {
  margin-bottom: 10px;
  color: #666;
  font-size: 15px;
}

.program {
  color: #777;
  font-size: 14px;
  margin-bottom: 14px;
}

/* Mobile */
@media (max-width: 700px) {
  .inner {
    flex-direction: column;
    text-align: center;
  }

  .right {
    text-align: center;
  }
}
