.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e8e8e8;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* 3분할: 로고 | 중앙 메뉴 | 오른쪽 메뉴 */
.headerInner {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
}

/* 로고 */
.logo {
  justify-self: start;
}
.logo img {
  width: 120px;
}

/* NAV - 항상 정중앙 */
.pcNav {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-self: center;
}

.separator {
  color: #d0d0d0;
}

.navActive {
  color: #000;
  font-weight: 600;
}

.navInactive {
  color: #a4a4a4;
  transition: 0.2s;
}

/* Dropdown */
.navDropdownWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 22px);
  left: -50px;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: none;
  min-width: 150px;
  text-align: center;
}

.dropdownMenu a {
  padding: 8px 0;
  display: block;
  color: #a4a4a4;
  text-decoration: none;
}

.navDropdownWrapper:hover .dropdownMenu {
  display: block;
}

/* RIGHT MENU */
.pcMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: end;
}

.loginBtn{
  font-size: 14px;
  cursor: pointer;
}
.logoutBtn {
  border: none;
  background: none;
  font-size: 12px;
  cursor: pointer;
}

.userArea {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileWrapper {
  cursor: pointer;
}

.profileIcon {
  width: 15px;
  height: 15px;
}

.username{
  margin-left: 5px;
  font-size: 15px;
}

.writeBtn {
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #F36E5C;
  background: white;
  color: #F36E5C;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.writeBtn:hover {
  background: #F36E5C;
  color: white;
}

/* HAMBURGER */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

/* 반응형 모바일 기준 */
.mobileMenu {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #e8e8e8;
}

/* open일 때만 보임 */
.open {
  display: flex;
}

.mobileLogout {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  display: block;
  text-align: left;
  color: #a4a4a4;
  cursor: pointer;
}

.mobileWrite {
  border: 1px solid #F36E5C;
  padding: 6px 12px;
  border-radius: 20px;
  color: #F36E5C;
}

/* 반응형 */
@media (max-width: 768px) {
  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pcNav,
  .pcMenu {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }
}