.sidebar_con {
  min-width: 300px;
  background-color: #FDD9D4;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 150px;
}

.profileImage {
  width: 155px;
  height: 155px;
  margin-bottom: 5px;
}

.nickname {
  color: #FF6060;
}

.nickname span {
  color: black;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.actionButton {
  padding: 8px 10px;
  color: #F8F8FF;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background-color: #F36E5C;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.actionButton:hover {
  background-color: #FF6060;
}