.tabs {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  height: 50px;
  box-sizing: border-box;
}

.tabItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 2rem 4rem;
  background: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  min-width: 0;

  gap: clamp(6px, 1vw, 10px);

  font-size: clamp(13px, 2.5vw, 14px);
  transition: all 0.2s ease;
}

.tabItem:hover {
  background: #F36E5C;
  color: #F8F8FF;
}

.tabItem.active {
  background: #F36E5C;
}

/* 첫 번째 탭 */
.tabItem:nth-child(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* 두 번째 탭 */
.tabItem:nth-child(2) {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* 세 번째 탭 */
.tabItem:nth-child(3) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tabItem span {
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  transition: color 0.2s ease;
}

.tabItem.active span {
  color: #F8F8FF;
}

.iconWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
}

/* 기본 아이콘 */
.icon {
  inset: 0;
  transition: opacity 0.2s ease;
}

/* active 아이콘 */
.iconActive {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* hover 시 */
.tabItem:hover .icon {
  opacity: 0;
}

.tabItem:hover .iconActive {
  opacity: 1;
}

/* active 상태 */
.tabItem.active .icon {
  opacity: 0;
}

.tabItem.active .iconActive {
  opacity: 1;
}


@media (max-width: 480px) {
  .tabItem {
    font-size: 0.8rem;
  }
}