.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}

.main {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
    padding: 16px;
  }
  
  .main {
    padding: 16px;
  }
  
  .tabs {
    flex-wrap: wrap;
  }
  
  .tab {
    flex: 1;
    min-width: 100px;
  }
}